@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, system-ui;
}

a {
  color: inherit;
  text-decoration: none;
}

.jumbotron {
  height: 550px;
  background: radial-gradient(circle at 50% -50%, #ddc253 0%, #161616 90%);
}

@media (min-width: 767px) {
  .jumbotron {
    background: radial-gradient(circle at 50% -50%, #ddc253 0%, #161616 80%);
  }
}

@media (min-width: 1280px) {
  .jumbotron {
    background: radial-gradient(circle at 50% -50%, #ddc253 0%, #161616 70%);
  }
}

@media (min-width: 1536px) {
  .jumbotron {
    background: radial-gradient(circle at 50% -50%, #ddc253 0%, #161616 55%);
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #86721f 0%,
    #d7b732 51%,
    #86721f 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #201e12;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.ph-arrow-right {
  transition: transform 0.2s ease-in-out;
}

.hover-arrow:hover .ph-arrow-right {
  transform: translateX(4px);
}

.callout {
  background: linear-gradient(
    270deg,
    rgba(215, 183, 50, 0.25) 0%,
    rgba(215, 183, 50, 0.5) 78%,
    rgba(215, 183, 50, 0.75) 100%
  );
  box-shadow: 0 10px 40px 0 #463c13;
  border-radius: 40px;
}
